@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}


::-webkit-scrollbar {
  width: 5px; /* Remove scrollbar space */
  height: 6px; /* Remove scrollbar space */
  background: #7483bf4e; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #8c72ff80;
  border-radius: 40px;
  cursor: pointer;
}

@layer components {
  .btn {
    @apply flex items-center justify-center px-6 py-2 text-base font-medium leading-6 text-white bg-primary rounded-full;
  }
  .btn-secondary {
    @apply inline-flex items-center justify-center px-6 py-2 text-base font-medium leading-6 bg-white text-primary rounded-full;
  }
  .btn-outline {
    @apply flex items-center justify-center w-auto px-8 md:py-3.5 py-2.5  text-base font-bold  text-primary border border-primary rounded-md;
  }
  .pc {
    @apply !hidden md:!flex;
  }
  .mobile {
    @apply md:!hidden !flex;
  }
  .card {
    @apply rounded-md shadow-xl bg-white;
  }
  .badge{
  @apply  text-xs px-3  rounded-full py-[0.2rem] flex justify-center items-center
  }
}
